Hi Alliance Team,<br> We have got an query from our vendor.<br> Please look into this on priority. Below are the details filled by vendor:
            
<br><br><table border="1">
    <tr>
        <td><strong>Vendor ID</strong></td>
        <td><%= vendor_id %></td>
    </tr>
    <tr>
        <td><strong>Name</strong></td>
        <td><%= callback_name %></td>
    </tr>
    <tr>
        <td><strong>Email</strong></td>
        <td><%= callback_email %></td>
    </tr>
    <tr>
        <td><strong> Query </strong></td>
        <td><%= help_query %></td>
    </tr>
</table>
<br>Regards,<br> Techjockey Product Team
